[submodule "udemy/ruby_on_rails_5/message_me"]
	path = udemy/ruby_on_rails_5/message_me
	url = https://github.com/Andrey606/message_me.git
[submodule "udemy/ruby_on_rails_6/alpha-blog"]
	path = udemy/ruby_on_rails_6/alpha-blog
	url = https://github.com/Andrey606/alpha-blog.git
[submodule "udemy/ruby_on_rails_6/finance-tracker"]
	path = udemy/ruby_on_rails_6/finance-tracker
	url = https://github.com/Andrey606/finance-tracker.git
[submodule "udemy/ruby_on_rails_6/photo-app"]
	path = udemy/ruby_on_rails_6/photo-app
	url = https://github.com/Andrey606/photo-app.git
