[submodule "alpha-blog"]
	path = alpha-blog
	url = https://github.com/Andrey606/alpha-blog.git
[submodule "udemy/ruby_on_rails/alpha-blog"]
	path = udemy/ruby_on_rails/alpha-blog
	url = https://github.com/Andrey606/alpha-blog.git
[submodule "udemy/ruby_on_rails/test_app_6"]
	path = udemy/ruby_on_rails/test_app_6
	url = https://github.com/Andrey606/test_app_6.git
[submodule "udemy/ruby_on_rails_5/message_me"]
	path = udemy/ruby_on_rails_5/message_me
	url = https://github.com/Andrey606/message_me.git
[submodule "udemy/ruby_on_rails_6/alpha-blog"]
	path = udemy/ruby_on_rails_6/alpha-blog
	url = https://github.com/Andrey606/alpha-blog.git
[submodule "udemy/ruby_on_rails_6/finance-tracker"]
	path = udemy/ruby_on_rails_6/finance-tracker
	url = https://github.com/Andrey606/finance-tracker.git
